# Conectarse a Supabase a través del pool de conexiones
URL_DE_BASE_DE_DATOS="postgresql://postgres.jetpxuoszvojdoqnyjqv:Q7L+MsReF!9yF6e@aws-0-us-east-2.pooler.subabase.com:6543/postgres?pgbouncer=true"


DIRECT_URL="postgresql://postgres.jetpxuoszvojdoqnyjqv:Q7L+MsReF!9yF6e@aws-0-us-east-2.pooler.subabase.com:5432/postgres"

TOKEN_TEST  = "EAAD9JrwCuZA0BO7JUuDwnQCuws0F7bXiobnb6OrBnGwIzYqK7ovF569UnRYJWtQAxDl4SjT2T8PPPJPrttvGUMRUSFGJ6MvZCrjkfJSScsqoK2lCpC228szWJTcutQlJqHC2KhLfNT2qAdZAZAeXeRYKZBqCnjAqraUR55ONjo3prJTfIhdN91eUobsFA7jBicecZD"

HF_API_KEY="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"


user=postgres.jetpxuoszvojdoqnyjqv 
password=Q7L+MsReF!9yF6e 
host=aws-0-us-east-2.pooler.supabase.com
port=6543
dbname=postgres